html{
    scroll-behavior: smooth;
}
*{margin: 0; padding: 0;box-sizing: border-box;}


  .carousel-inner img {
    width: 100%;
    height: 90vh;
  }
body{
  font-family: 'Josefin Sans', sans-serif;}

  .aboutimg{
  	width:100%;
  	height:250px!important;
  }
